# Introduction

Classsification is the job of predicting nominal-attribute(Class label) based on the values of other attributes(known as predicdtor variables). In this lab, we provide an example of the use of DT. We use the skitlearn library package

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# load dataset

In [4]:
data= pd.read_csv('vertabrates.csv', header='infer')

In [5]:
data

,Name,Warmblooded,gives birth,Aquatic creature,Aerial Creature,Has legs,Hibernates,class
0,Human,1,1,0,0,1,0,Mammal
1,Python,0,0,0,0,0,1,Reptile
2,salmon,0,0,1,0,0,0,Fish
3,Whale,1,1,1,0,0,0,Mammal
4,Frog,0,0,1,0,1,1,Amphibian
5,Komodo,0,0,0,0,1,0,Reptile
6,Bat,1,1,0,1,1,1,Mammal
7,Pigeon,1,0,0,1,1,0,Bird
8,Cat,1,1,0,0,1,0,Mammal
9,Leopard shark,0,1,1,0,0,0,Mammal
10,Turtle,0,0,1,0,0,0,Reptile
11,Penguine,1,0,0,0,1,1,Bird
12,Porcupine,1,1,0,0,1,0,Mammal
13,Salamander,0,0,0,0,1,1,Amphibian
14,eel,0,0,1,0,0,0,Fish

the concept of hot encoding binary representation is used for all the features expect the name 
Hot encoding is using '0' and '1'
We have a multiclass kind of problem but with very limited data therefore we convert the problem to a binary problem

In [6]:
data['class']= data['class'].replace(['Fish','Bird','Amphibian','Reptile'], 'non-mammals')

In [7]:
data

,Name,Warmblooded,gives birth,Aquatic creature,Aerial Creature,Has legs,Hibernates,class
0,Human,1,1,0,0,1,0,Mammal
1,Python,0,0,0,0,0,1,non-mammals
2,salmon,0,0,1,0,0,0,non-mammals
3,Whale,1,1,1,0,0,0,Mammal
4,Frog,0,0,1,0,1,1,non-mammals
5,Komodo,0,0,0,0,1,0,non-mammals
6,Bat,1,1,0,1,1,1,Mammal
7,Pigeon,1,0,0,1,1,0,non-mammals
8,Cat,1,1,0,0,1,0,Mammal
9,Leopard shark,0,1,1,0,0,0,Mammal
10,Turtle,0,0,1,0,0,0,non-mammals
11,Penguine,1,0,0,0,1,1,non-mammals
12,Porcupine,1,1,0,0,1,0,Mammal
13,Salamander,0,0,0,0,1,1,non-mammals
14,eel,0,0,1,0,0,0,non-mammals

In [21]:
data.drop('Name', axis=1)

KeyError: "['Name'] not found in axis"

the data has now been made to a binary problem with mammals and non-mammals

pandas cross tabulation can be used to show the relationship between warm blooded and gives birth

In [8]:
pd.crosstab([data['Warmblooded'],data['gives birth']], data['class'])

class                    Mammal  non-mammals
Warmblooded gives birth
0           0                 0            7
            1                 1            0
1           0                 0            2
            1                 5            0

# Building the Decision Tree classifier

In [9]:
from sklearn import tree

In [10]:
y=data['class']

In [11]:
y

0          Mammal
1     non-mammals
2     non-mammals
3          Mammal
4     non-mammals
5     non-mammals
6          Mammal
7     non-mammals
8          Mammal
9          Mammal
10    non-mammals
11    non-mammals
12         Mammal
13    non-mammals
14    non-mammals
Name: class, dtype: object

In [12]:
X=data.drop(["class"], axis=1)

In [13]:
X=data.drop(['Name'], axis=1)

KeyError: "['Name'] not found in axis"

In [14]:
X

,Name,Warmblooded,gives birth,Aquatic creature,Aerial Creature,Has legs,Hibernates
0,Human,1,1,0,0,1,0
1,Python,0,0,0,0,0,1
2,salmon,0,0,1,0,0,0
3,Whale,1,1,1,0,0,0
4,Frog,0,0,1,0,1,1
5,Komodo,0,0,0,0,1,0
6,Bat,1,1,0,1,1,1
7,Pigeon,1,0,0,1,1,0
8,Cat,1,1,0,0,1,0
9,Leopard shark,0,1,1,0,0,0
10,Turtle,0,0,1,0,0,0
11,Penguine,1,0,0,0,1,1
12,Porcupine,1,1,0,0,1,0
13,Salamander,0,0,0,0,1,1
14,eel,0,0,1,0,0,0

In [15]:
type(y)

pandas.core.series.Series

In [16]:
type(X)

pandas.core.frame.DataFrame

In [17]:
clf= tree.DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [18]:
clf

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [20]:
clf= clf.fit(X,y)

ValueError: could not convert string to float: 'Human'

In [ ]:
#plotting the results of the tree

In [ ]:
import pydotplus

In [ ]:
!pip install pydotplus

In [ ]:
import pydotplus

In [ ]:
from IPython.display import Image

In [ ]:
dot_ data = tree.export_graphviz(clf, feature_names=X.columns, class_names=['mammals','non-mammals'], filled= True,out_file=None)